*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container{
    width: 100%;
    height: 1000px;
    .container-content{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .cards{
            margin: 5%;
            width: 10%;
            height: 100px;
            border-radius: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0px 0px 15px 0px #000000; 
            box-shadow: 0px 0px 15px 0px #000000;
        }

        .cards:hover{
            background-color: #D8D8D8;
            transform: translate(0, -20px) scale(1.1) ;
           // transform: translate(0, -20px);
            transition: all ease 0.6s;
        }
    }
}