* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  width: 100%;
  height: 1000px;
}

.container .container-content {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .container-content .cards {
  margin: 5%;
  width: 10%;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
}

.container .container-content .cards:hover {
  background-color: #D8D8D8;
  transform: translate(0, -20px) scale(1.1);
  transition: all ease 0.6s;
}
